.form-control {
	border: 2px solid black;	
}

.bodyButtons{
	font-size: x-large;
	text-align: center;
	/* font color */
	color: #333333;
	
	border-style: solid;
	border-color: #333333;
}
