/* Make the input fields have a bolder border*/
.form-control {
	border: 2px solid black;	
}
/* Insert a border around the [$] sign in "Price of Item" */
.input-group-addon {
	border: 2px solid black;	
}
/* Give each icon in the navigation menu spacing */
.icon {
  margin-right: 10px;
}

img {
	width: 100%;
}

.asterisk {
	color: red;
}

/* Font size for the navigation menu */
.navigationMenuText {
	font-size: large;
}

/* navigationMenu text and links are set to ghost white*/
#navigationMenu a {
	color: #F8F8FF;
}
#navigationMenu p {
	color: #F8F8FF;
}

/*Burger icon and "menu" text in button color is ghostwhite*/
#menuButton {
	color: #F8F8FF;
}

/* links are gray when hovered upon */
#navigationMenu a:hover {
	color: #808080;
}

/* menu button is gray when hovered*/
#menuButton:hover {
	color: #F8F8FF;
}

#submitButton {
	font-size: x-large;
	text-align: center;
}

.bodyButtons{
	font-size: x-large;
	text-align: center;
	/* font color */
	color: #333333;
	
	border-style: solid;
	border-color: #333333;
}

#headerText {
	text-align: center;
}

/* Make erroor messages' font size: 18pixes */
#itemNameError {
    font-size: 18px;
}

#pictureOfItemError {
    font-size: 18px;
}

#priceValueError {
    font-size: 18px;
}

#yearValueError {
    font-size: 18px;
}

#submissionErrorMessage {
    font-size: 18px;
}
