 /* Give each icon spacing */
.icon {
  margin-right: 10px;
}

/* Make each input field have a thicker border */
.form-control {
	border: 2px solid black;	
}

/* Font size for the navigation menu */
.navigationMenuText {
    font-size: large;
}

.bodyButton {
	font-size: x-large;
	text-align: center;
}
